<div class="container">
    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <p><strong>Address</strong> </p>
                <ul>
                    <li><strong>Status:</strong> <?php echo($model->status->name) ?></li>
                    <li><strong>City:</strong> <?php echo($model->zone->city->name) ?></li>
                    <li><strong>Zone:</strong> <?php echo($model->zone->name) ?></li>
                    <li><strong>Address:</strong> <?php echo($model->address) ?></li>
                    <li><strong>Address Type:</strong> <?php echo($model->address_type->name) ?></li>
                    <li><strong>Street:</strong> <?php echo($model->street) ?></li>
                    <li><strong>House number:</strong> <?php echo($model->house_number) ?></li>
                    <li><strong>¿Has IT crew?:</strong> <?php echo($model->has_it == 1 ? 'Yes': 'No') ?></li>
                    <li><strong>¿Has router?:</strong> <?php echo($model->has_router == 1 ? 'Yes': 'No') ?></li>
                    <li><strong>¿Rooftop Access?:</strong> <?php echo($model->rooftop_access == 1 ? 'Yes': 'No') ?></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <p> <strong>Client</strong></p>
                <ul>
                    <li><strong>Name:</strong> <?php echo($model->name)?></li>
                    <li> <strong>Lastname:</strong> <?php echo($model->lastname)?></li>
                    <li><strong>Email:</strong> <?php echo($model->email)?></li>
                    <li><strong>Teléfono:</strong> <?php echo($model->phone)?></li> 
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <p><strong>Client Comment</strong></p>
                <p><em><?php echo($model->comment)?></em></p>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Service</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>

                <?php foreach ($model->presentation as $value) {
                   echo ("
                   <tr>
                        <th scope='row'>".$value->name."</th>
                        <td>".$value->price."</td>
                       
                    </tr>
                   
                   ");
                }

                ?>
            </tbody>
          </table>
    </div>

</div>